.content-container-landing {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url(../../assets/landing-img.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container-mask-shadow-landing {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0));
}

.text-container-landing {
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
   
}
.sop-now-btn-landing{
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;

}
.shop-now-btn{
    width: 233.91px;
    height: 50px;
    background-color: #fff;
    border: 0;
    border-radius: 50px;
    font-size: 24px;
    font-family: BaiJamjuree-regular;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    cursor: pointer;
}
.icon-in-btn{
    margin-left: 10px;
    width: 18.42px;
}
.h {
    color: #fff;
    font-family: BaiJamjuree-regular;
    font-weight: 300;
    font-size: 34px;
}
.h-2{
    font-family: SpaceGrotesk-medium;
    color: #fff;
    font-size: 96px;
    font-weight: 300; 
    text-align: center;
    margin-top: 0.8px;
}