body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'SpaceGrotesk-regular';
  src: url(./assets/fonts/SpaceGrotesk-Regular-BF65712b4fdc934.ttf);
}

@font-face {
  font-family: 'SpaceGrotesk-medium';
  src: url(./assets/fonts/SpaceGrotesk-Medium-BF65712b4fd0ef9.ttf);
}

@font-face {
  font-family: 'BaiJamjuree-regular';
  src: url(./assets/fonts/BaiJamjuree-Regular\ \(1\).ttf);
}
@font-face {
  font-family: 'BaiJamjuree-semibold';
  src: url(./assets/fonts/BaiJamjuree-SemiBold.ttf);
}
@font-face {
  font-family: 'Inter-regular';
  src: url(./assets/fonts/Inter-Regular.otf);
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}